*{
    margin-left: 10px;
}
img{
    width: 300px;
    height: 200px;    
}
span{    
    margin-left: 30px;
}
#foodsection{
    margin-bottom: 20px;
}
#headSection{
    background-color:#f9e79f;
}
#me{
    text-align:center;
    color:purple;
    font-size: 18px;
}
.describe{
    font-style: italic;
}

h3{
    font-style: unset;
    font-weight: bold;
    font-family: Arial, "Arial Black", Verdana, "Trebuchet MS",Georgia, Tahoma, "Courier New", "Times New Roman";
    background-color:seagreen;
    color:white;
    width: 240px;
    height: 21px;
    margin-top: 5px;
    padding-left: 10px;
}
h1{
    color:olivedrab;
    text-align: center;
}
.validatorIcon{
    width:100px;
    height:40px;
}

